<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:se="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/layout.css}" rel="stylesheet">
  	  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link th:href="@{/css/main.css}" rel="stylesheet">
    
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
  
  <title>TomoTuneTokyo</title>
</head>
<body>
  <div th:replace="~{fragments/header::header}"></div>
  <div layout:fragment="content" class="content"></div>

  <!-- 공통 JS는 여기에 -->
  <script src="/js/header.js"></script>
</body>
</html>