<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<style>
		.test {
			border: 1px solid #000;
			height: 100px;
			display: flex;
			justify-content: space-between;
		}

		.test a {
			width: 100%;
			height: 100%;
		}

		.a-test {
			text-decoration: none;
			width: 100%;
			height: 100%;
			color: #000;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		.testImg {
			height: 50px;
			width: 50px;
			border: 1px solid #f00;
		}

		.a-test .info {
			width: 100px;
			height: 100%;
		}

		@media (max-width: 665px) {
			.test {
				width: 80vw;
			}
		}
	</style>
	<h1 id="banner-font" hx-swap-oob="true">全会員リスト</h1>
	<div class="admin-cont container">
		<div style="width: 20%; margin-left: 75%;">
			뒤로가기
		</div>
		<div class="row">
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="test col-md-3 mb-4 col-xl-2">
				<a hx-get="/admin/list?page=3" hx-target="#content">
					<div class="a-test">
						<div class="testImg"></div>
						<div class="info pb-2">
							<p>이름</p>
							<p>태그</p>
						</div>
						<div>
							<p>...</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div>
		1 2 3 4 5 ...
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</html>