<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
</head>

<body>
	<div id="contents" layout:fragment="content">
		<div class="main-menu">
			<div class="menu-container">
				<div class="menu-inner">
					<div class="menu-card">
						<a href="/bandinsert/modifylist">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/bands.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/recruit.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/concerts.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/market.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="/user/list?board=6">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/records.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/community.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/bands.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/recruit.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/concerts.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/market.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="/user/list?board=6">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/records.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/community.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/bands.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/recruit.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/concerts.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/market.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="/user/list?board=6">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/records.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/community.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/bands.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/recruit.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/concerts.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/market.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a href="">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/records.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
					<div class="menu-card">
						<a hx-get="/user/list?board=6" hx-target="#contents" hx-select="#content" hx-push-url="true">
							<div class="card-inner">
								<div class="card-front">
									<img alt="" src="/images/menuPanels/community.png">
								</div>
								<div class="card-back">
									<p>추가 정보 표시</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="menu-arrow">
				<!-- 회전 트리거 버튼 -->
				<div class="arrow-wrapper left">
					<button class="arrow left" id="rotateBtn"></button>
				</div>
				<div class="arrow-wrapper right">
					<button class="arrow right" id="rotateBtn"></button>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/Draggable.min.js"></script>
		<script src="/JS/index.js"></script>

	</div>
</body>

</html>