<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

<head>
</head>
<body>
<div layout:fragment="content">

	<div class="main-menu">
		<div class="menu-container">
			<div class="menu-inner">
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bands.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/makeband.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/community.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bandmember.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bands.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/makeband.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/community.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bandmember.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bands.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/makeband.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/community.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bandmember.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bands.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/makeband.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/community.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/bandmember.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
				<div class="menu-card">
					<div class="card-inner">
						<div class="card-front">
							<img th:src="@{/images/concert.png}" class="front-image" alt="Menu1">
							<h2 class="front-text">BANDS</h2>
						</div>
						<div class="card-back">
							<p>추가 정보 표시</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-arrow">
			<!-- 회전 트리거 버튼 -->
			<button class="arrow left" id="rotateBtn">❮</button>
			<button class="arrow right" id="rotateBtn">❯</button>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/Draggable.min.js"></script>
	<script src="/JS/index.js"></script>

</div>
</body>
</html>